.content-grey {
	background-color: #f5f5f5;
}
.job-filter h2{
	margin-top: 15px;
	color: #655;
	font-size: 28px
}
.footer-desc{
	color: #fff;
}
.job-profil-heading{
	margin-left: 20px;
}
.widget-sort-select.worker-list{
	width: 17%;
	font-size: 12px;
	padding: 15px 0px;
}
.job-list-img img {
	margin-bottom: 15px;
	border-radius: 0;
	max-width: 150px;
	width: 150px;
	max-height: 150px;
	height: 150px;
	padding: 10px 5px;
	margin-left: -2px;
	margin-top: -10px;
	border: 1px solid #BDBDBD;
}
.candidate-list-img img {
	margin-bottom: 15px;
	border-radius: 100%;
	max-width: 150px;
	width: 150px;
	max-height: 150px;
	height: 150px;
	margin-left: -2px;
	margin-top: -10px;
}

.experience-list {
	font-size: 12px;
}

.header-about {
	margin-left: 15px;
	margin-bottom: 10px;;
}

.on-home{
	width: 49%;
}

.slider-container{
	margin-top: 30px;
}

.no-desc, .company-profile-detail {
	margin-left: 15px;
	/*border-top: 3px solid #D7CCC8;*/
	padding-top: 10px;
}

.company-profile-detail li:first-child{
	margin-top: 0;
}
.company-profile-detail li {
	width: 50%;
	float: left;
	margin: 10px 0;
}

.add-job {
	background-image: url('../images/user/bg-profil-kerja.jpg');
	background-size: cover;
	text-align: center;
}

.people-bg {
	background-image: url('../images/user/bg-title-people.jpg');
	background-size: cover;
	text-align: center;;
}

.tree-bg {
	background-image: url('../images/user/bg-title-pohon.jpg');
	background-size: cover;
	text-align: center;
}

.no-image-title {
	text-align: center;
}

.people-bg h2, .tree-bg h2 {
	color: #fff;
}

.company-detail-title {
	display: block;
	font-weight: 800;
}

.company-detail-content {
	font-size: 15px;
}

.verify-worker li {
	color: #fff;
	margin: 15px 0;
	font-size: 16px;
}

.contact-candidate {
	cursor: pointer;
	padding: 20px 20px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	outline: none;
	overflow: hidden;
	position: relative;
	z-index: 10;
	color: #fff;
	background-color: #3a86ca;
	border: none;
	border-radius: 4px;
}

.contact-candidate a:hover {
	color: #fff;
}

.title-page h1, .title-page h3 {
	text-align: center;
}

.title-page {
	margin: 30px 0;
}

.call-worker {
	margin-top: 50px;
}

.button.blue:hover {
	background-color: #347ab8;
	color: #fff;
}

.apply-job{
	padding: 10px 15px;
	font-size: 16px;
	color: #fff;
	float: right;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 900;
	background-color: #3a86ca;
}

.purchased-data {
	margin: 8px 0;
}

.float-left {
	float: left;
}

.video-wrapper {
	padding: 40px 0;
	text-align: center;
	width: 80%;
	max-width: 640px;
	margin: 0 auto;
}

.video-wrapper h3 {
	color: #fff;
	margin-bottom: 30px;
}

.category-worker{
	box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
	border-bottom: 1px solid #dfdfdf;
}

.video {
	box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
	border-bottom: 1px solid #dfdfdf;
	/*border-top: 1px solid #dfdfdf;*/
	background-color: #4fa0ee;
	color: #fff;
	margin-top: -8px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-bottom: 40px;
}

.video-container iframe, .video-container object, .video-container embed {
text-align: center;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/*IPAD LANDSCAPE*/
@media (min-width: 992px) and (max-width: 1199px) {
	.verify-worker{
		margin-top: -20px;
	}
	.contact-candidate{
		margin-left: 180px;
		margin-top: -20px;
	}
	.button-lamar-job{
		margin-left: 30px;
	}
	.job-filter h2{
		font-size: 22px;
		vertical-align: bottom;
	}
}
/*IPAD PORTRAIT*/
@media (min-width: 768px) and (max-width: 991px) {
	.verify-worker li {
		font-size: 14px;
	}
	.verify-worker{
		margin-top: -90px;
	}
	.on-home{
		width: 40%;
	}
	.contact-candidate{
		margin-left: 150px;
		margin-top: -50px;
	}
	.button-lamar-job{
		margin-left: 10px;
	}
	.job-profil-heading{
		margin-left: 10px;
	}
}

/* All Mobile Sizes (devices and browser)  POTRAIT */
@media only screen and (max-width: 767px) {
	.company-profile-detail li:first-child{
		margin-top: 10px;
	}
	.job-profil-heading{
		margin-left: 0px;
	}
	.contact-candidate{
		margin-left: 20px;
	}
	.on-home{
		width: 45%;
	}

	.company-detail-title {
		font-size: 11px;
	}

	.no-desc, .company-profile-detail{
		font-size: 13px;
	}
	.company-profile-detail{
		padding-top: 0;
		margin-top: -20px;
	}

	.company-detail-content {
		font-size: 10px;
	}

	.slider-container {
		margin-top: 50px;
	}

	.call-worker {
		margin-top: 0px;
	}

	.list-worker {
		margin-top: 135px;
	}

	.verify-worker {
		margin-top: 0px;
		margin-left: 50px;
	}

	.verify-worker a {
		margin-bottom: 0px;
	}

	.resume-titlebar span, .job-spotlight span, .resumes-list li a span {
		font-size: 12px;
		margin-top: 5px;
		line-height: 15px;
	}

	.job-list li a span {
		font-size: 10px;
		margin-top: 5px;
		line-height: 10px;
	}

	.job-list .job-list-content {
		padding-right: 0;
	}

	.resumes-list-content h4 {
		line-height: 25px;
	}

	.verify-worker li {
		color: #252525;
		font-size: 16px;
	}

	.purchased-data {
		margin: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.verify-worker {
		margin-left: 35%;
	}
	.contact-candidate{
		text-align: center;
	}
	.company-detail-title {
		font-size: 13px;
	}

	.company-detail-content {
		font-size: 12px;
	}
}